.actionButton {
  float: right;
}
.timelineIcon {
  font-size: 16px;
}

.streamingWidgetLabel {
  word-break: keep-all;
  margin-bottom: 0;
}
.streamingWidgetData {
  word-break: break-all;
}

.stoppingStreamSettings {
  opacity: 0.5;
}
