html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  & > #__next {
    height: 100%;
  }
}

// a {
//   color: inherit;
//   text-decoration: none;
// }

* {
  box-sizing: border-box;
}
