.row {
  height: 70vh;
}

.spacer {
  width: 100%;
  text-align: center;
}

.divider {
  margin: 5px 0;
}

.videoWrapper {
  display: flex;
  align-items: center;
  max-width: min(1500px, 100vh);
  min-width: 200px;
  height: 70vh;
  margin: 0 auto;
  .player {
    margin-top: 1em;

    :global(.amp-wall-clock-overlay) {
      display: none;
    }
  }
}
